{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.transaction_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.transaction_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'transaction.id')  }}</th>

            <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 'transaction.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'label.date'|trans, 'transaction.date') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'label.comment'|trans, 'transaction.comment') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'label.wallet'|trans, 'transaction.wallet.name') }}</th>
            <th>{{ 'label.action'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in pagination.items %}
            <tr>
                <td>{{ transaction.id }}</td>

                <td>{{ transaction.name }}</td>
                <td>{{ transaction.date|date("m/d/Y")  }}</td>
                <td>{{ transaction.comment }}</td>
                <td>{{ transaction.wallet.name }}</td>
                <td>
                    <a href="{{ url('transaction_show', {id: transaction.id}) }}" title="{{ 'action.view'|trans }}">
                        {{ 'action.view'|trans }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}