{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_list'|users }}</h1>
    {% if users is defined and users|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.email'|trans }}</th>
                <th>{{ 'label.password'|trans }}</th>
                <th>{{ 'label.role'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email|string }}</td>
                    <td>{{ user.password|string }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <a href="{{ url('user_show', {id: user.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}