{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_details'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label.password'}}</dt>
            <dd>{{ user.password|trans }}</dd>
            <dt>{{ 'label.roles'|trans }}</dt>
            <dd>{{ user.roles|json_encode() }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{ user.email|trans }}</dd>

        </dl>
        <p>
            <a href="{{ url('user_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}