{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>{{ 'title.tag'|trans }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'label.id'|trnas }}</th>
            <td>{{ tag.id }}</td>
        </tr>
        <tr>
            <th>{{ 'label.name'|trans }}</th>
            <td>{{ tag.name }}</td>
        </tr>
        <tr>
            <th>{{ 'label.createdAt'|trans }}</th>
            <td>{{ tag.createdAt ? tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>{{ 'label.updatedAt'|trans }}</th>
            <td>{{ tag.updatedAt ? tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tag_index') }}">{{ 'action.back_to_list'|trans }}</a>

    <a href="{{ path('app_tag_edit', {'id': tag.id}) }}">{{ 'action.edit'|trans }}</a>

    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
